* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  max-width: 1900px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 395px;
  background-color: #129799;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.navigation-1 {
  z-index: 9999999;
  max-width: 1900px;
  padding: 20px;
  background-color: #129799;
  position: fixed;
  top: 0px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

h2 {
  color: black;
}

.navigation-1 ul {
  list-style: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 400px;
}

a {
  font-size: 1.3rem;
  text-decoration: none;
}

.caixa {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.3rem;
}

.img-life {
  width: 90%;
}

.navigation-2 {
  width: 100%;
}

.navigation-2 ul {
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 700px;
}

main {
  background-color: #ffa185;
}

.container {
  width: 100%;
  padding: 30px;
}

.container h2 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}

.container p {
  margin-top: 30px;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  width: 720px;
}

.container-figure {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.container-figure-2 {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.img-art {
  width: 630px;
  height: 350px;
  object-fit: cover;
}

/* Aqui começa o @media */

@media (max-width: 1285px) {
  .img-art {
    width: 500px;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }

  .img-life {
    width: 400px;
  }
}

@media (max-width: 1050px) {
  .img-art {
    width: 400px;
  }
}

@media (max-width: 860px) {
  .group {
    display: flex;
    flex-direction: column;
  }

  .container-figure {
    flex-direction: column;
    align-items: center;
    height: 850px;
  }

  .container-figure-2 {
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
    height: 850px;
  }

  .fig {
    text-align: center;
    width: 100%;
  }

  .img-art {
    width: 90%;
  }
}

@media (max-width: 815px) {
  .caixa {
    padding-top: 100px;
    flex-direction: column;
    height: 400px;
  }

  .navigation-2 ul {
    width: 100%;
    padding-bottom: 20px;
  }
}

@media (max-width: 760px) {
  .container p {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .navigation-2 ul li a {
    font-size: 1.1rem;
  }

  .navigation-1 ul {
    width: 100%;
  }

  .img-life {
    width: 100%;
  }
}

@media (max-width: 395px) {
  h1 {
    text-align: center;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 2rem;
  }

  .navigation-2 ul {
    padding: 20px;
  }
}
